/* ***************** */
/* Variable Selector */
/* ***************** */
:root {
    --darkpurple: rgba(45, 0, 45);
    --lightpurple: rgba(175, 0, 175);
    --silver: rgba(100, 100, 100, 0.7);
    --offwhite: rgba(230, 230, 230);
}

/* ****************** */
/* Universal Selector */
/* ****************** */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* ********************* */
/* Combination Selectors */
/* ********************* */
.desc-container,
.work-container {
    background-color: var(--offwhite);
}

h2,
h2 + p,
h2 + p + p {
    color: white;
}

html, body {
    min-width: 320px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--silver);
    border: none;
}

#my-photo,
#name,
h2,
p {
    position: relative;
    z-index: 2;
}

h2 + p,
h2 + p + p,
#name {
    text-align: center;
    padding: 5px 0;
    text-shadow:3px 3px 3px var(--darkpurple);
}

.navbar,
.intro-container,
.desc-container {
    border-bottom: 5px solid var(--lightpurple);
}

/* ***************** */
/* Element Selectors */
/* ***************** */
body div.nav-container {
    background-color: var(--darkpurple);
}

h1 {
    font-size: 16px;
}

/* ************************ */
/* Pseudo Element Selectors */
/* ************************ */
.intro-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--silver);
    z-index: 1;
}

/* *************** */
/* Class Selectors */
/* *************** */
.desc-container {
    padding: 10px 10px;
    text-align: center;
    font-size: 12px;
}

.intro-container {
    padding-top: 25px;
    background-image: url(../images/intro-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.material-icons {
    margin: 0 5px 5px 0;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 75px;
    max-width: 2560px;
    margin: 0 auto;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style-type: none;
    text-align: center;
    width: 50%;
    justify-self: end;
}

.project-images {
    max-width: 75%;
    height: auto;
    margin-top: 20px;
}

/* ********************** */
/* Pseudo Class Selectors */
/* ********************** */
#navbar-logo:hover #main-logo {
    transform: scale(3);
}

.nav-links:hover {
    color: var(--lightpurple);
    transition: all 0.2s ease-out;
}

/* ************ */
/* ID Selectors */
/* ************ */
#copy-date {
    font-size: 10px;
    margin: -5px 0 0 -5px;
}

#footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkpurple);
    color: white;
    border-top: 5px solid var(--lightpurple);
    padding-bottom: 5px;
}

#footer-logo {
    max-height: 200px;
    max-width: 200px;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-logo {
    margin-left: 20px;
    max-width: 40px;
    max-height: 40px;
    transition: all 0.5s ease;
}

#my-photo {
    display: flex;
    justify-content: space-around;
}

#my-photo img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

#name {
    font-size: 1.4em;
    text-align: center;
}

#navbar-logo {
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ************* */
/* Media Queries */
/* ************* */
@media screen and (max-width: 1023px) {
    .nav-container {
        position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--darkpurple);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 75px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    #navbar-logo {
        margin-left: 20px;
    }

    .nav-menu.active {
        background: var(--darkpurple);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 10;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: var(--lightpurple);
        color: white;
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 30%);

    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #main-logo {
        max-width: 40px;
        max-height: 40px;
        transition: all 0.3s ease;
    }
}

/* ***************** */
/* Experimental Code */
/* ***************** */

/* The Experimental Code section should be empty when webpage is finalized */
