/* ***************** */
/* Variable Selector */
/* ***************** */
:root {
    --darkpurple: rgba(45, 0, 45);
    --lightpurple: rgba(175, 0, 175);
    --silver: rgba(100, 100, 100, 0.7);
    --offwhite: rgba(230, 230, 230);
    --lightblue: rgb(17, 149, 186);
    --scroll-distance-small: 280px;
    --scroll-distance-medium: 360px;
    --scroll-distance-large: 500px;
    --scroll-distance-x-large: 700px;
    --scroll-distance-xx-large: 900px;

    --scroll-distance: var(--scroll-distance-small);
}

/* ****************** */
/* Universal Selector */
/* ****************** */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* ********************* */
/* Combination Selectors */
/* ********************* */
#backBtn,
#nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 10px;
}

.desc-container,
.exp-container {
    padding: 10px 10px;
    text-align: center;
    font-size: 12px;
}

.desc-container,
.exp-container,
h4 {
    color: var(--darkpurple)
}

.desc-container,
.work-container,
.exp-container,
.contact-container {
    background-color: var(--offwhite);
}

h2,
h2 + p,
h2 + p + p,
.about-container h5 {
    color: #fff;
}

h3,
h4 {
    text-shadow:2px 2px 5px var(--darkpurple);
}

.image-container {
    position: relative;
    width: 100%;
}

html, body {
    min-width: 320px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--offwhite);
    border: none;
}

#my-photo,
#my-name,
h2,
p {
    position: relative;
    z-index: 2;
}

h2 + p,
h2 + p + p,
#my-name {
    text-align: center;
    padding: 5px 0;
}

h2 + p,
h2 + p + p,
#my-name,
.about-container h5,
.about-container p {
    text-shadow:3px 3px 3px var(--darkpurple);
}

#name,
#email,
#phone {
    border: none;
    border-bottom: solid 3px rgba(15, 15, 15, 0.1);
    padding: 5px;
}

.navbar,
.intro-container,
.exp-container {
    border-bottom: 5px solid var(--lightpurple);
}

/* ***************** */
/* Element Selectors */
/* ***************** */
body div.nav-container {
    background-color: var(--darkpurple);
}

form {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 16px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    padding-top: 20px;
    padding-bottom: 3%;
    text-align: center;
}

input {
    border-radius: 3px;
    background-color: transparent;
    outline: 0 none;
    appearance: none;
    text-align: center;
    border-radius: 0;
}

label {
    display: block;
    padding: 10px;
}

textarea {
    border-radius: 3px;
    outline: 0 none;
    padding: 15px 5px 5px 5px;
    text-align: center;
    justify-content: center;
}

/* ************************ */
/* Pseudo Element Selectors */
/* ************************ */
.gallery::-webkit-scrollbar {
    display: none;
}

.intro-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--silver);
    z-index: 1;
}

/* *************** */
/* Class Selectors */
/* *************** */
.about-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, black 30%, grey);
}

.about-container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
}

.about-container h5 {
    font-size: 30px;
    margin-left: 45px;
    cursor: pointer;
}

.about-container img {
    width: 100px;
    vertical-align: bottom;
}

.about-container p {
    font-size: 10px;
    color: var(--offwhite);
    text-align: center;
    margin-right: 10px;
}

.button-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    text-align: center;
}

.button-container button {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    border-style: none;
    background-color: var(--lightblue);
    color: #fff;
    text-shadow: 2px 2px 2px rgba(3, 6, 7, 0.7);
    box-shadow: 2px 2px 5px rgba(3, 6, 7, 0.7);
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 10px 0 10px;
    border: 3px solid rgba(0, 0, 0, 0.578);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(3, 6, 7, 0.7);
}

.contact-container h6 {
    text-align: center;
    margin-bottom: 10px;
}

.gallery {
    width: 850px;
    display: flex;
    overflow-x: scroll;
    grid-gap: 60px;
}

.gallery figure {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.gallery figure img {
    width: 200px;
    transition: transform 0.3s;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.hidden {
    display: none;
}

.intro-container {
    padding-top: 25px;
    background-image: url(../images/intro-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.material-icons {
    margin: 0 5px 5px 0;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 75px;
    max-width: 2560px;
    margin: 0 auto;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style-type: none;
    text-align: center;
    width: 50%;
    justify-self: end;
}

.work-container {
    padding-bottom: 10%;
}

/* ********************** */
/* Pseudo Class Selectors */
/* ********************** */
.about-container h5:hover {
    color: var(--silver);
}

button:hover {
    background-color: rgb(7, 63, 78);
}

#desc-article p:first-child {
    font-size: 20px;
    text-shadow: 3px 3px 6px rgba(45, 0, 45, 0.7);
}

.gallery figure img:hover {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96%;
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid var(--lightpurple);
    font-size: 12px;
    cursor: pointer;
}

.overlay p {
    position: absolute;
    color: white;
    padding: 10px;
    text-align: center;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -40%);
    background-color: var(--lightpurple);
    text-shadow:2px 2px 5px var(--darkpurple);
    box-shadow: 2px 2px 5px rgba(3, 6, 7, 0.7);
}

#overlay1 p {
    margin-left: -30px;
}

#overlay2 p,
#overlay4 p {
    margin-left: -40px;
}

#overlay3 p {
    margin-left: -32px;
}

.overlay:hover {
    background-color: var(--silver);
}

.hide {
    display: none;
}

#name:hover,
#email:hover,
#phone:hover {
    border-color: var(--lightpurple);
}

.nav-links:hover {
    color: var(--lightpurple);
    transition: all 0.2s ease-out;
}

#navbar-logo:hover #main-logo {
    transform: scale(3);
}

#submit-button:hover {
    background-color: rgba(120, 0, 120);
}

/* ********************** */
/* Combo Pseudo Selectors */
/* ********************** */
input:focus::placeholder {
    color: transparent;
}

textarea:focus::placeholder {
    color: transparent;
}

/* ************ */
/* ID Selectors */
/* ************ */
#chat-bubble {
    visibility: hidden;
    position: absolute;
}

#copy-date {
    font-size: 10px;
    margin: -5px 0 0 -5px;
}

#footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--darkpurple);
    color: white;
    border-top: 5px solid var(--lightpurple);
    padding-bottom: 5px;
}

#footer-logo {
    max-height: 200px;
    max-width: 200px;
}

#location {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-logo {
    margin-left: 20px;
    max-width: 40px;
    max-height: 40px;
    transition: all 0.5s ease;
}

#my-photo {
    display: flex;
    justify-content: space-around;
}

#my-photo img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

#my-name {
    font-size: 1.4em;
    text-align: center;
}

#navbar-logo {
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

#submit-button {
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--lightpurple);
    color: #fff;
    font-weight: 700;
    box-shadow: 2px 2px 5px 2px rgba(3, 6, 7, 0.7);
    text-shadow: 2px 2px 2px rgba(45, 0, 45, 0.7);
}

/* ***************** */
/* Experimental Code */
/* ***************** */
.nav-container {
    position: relative;
}

.nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--darkpurple);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 75px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
}

#navbar-logo {
    margin-left: 20px;
}

.nav-menu.active {
    background: var(--darkpurple);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
}

.nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
}

.nav-links:hover {
    background-color: var(--lightpurple);
    color: white;
    transition: all 0.4s ease-out;
}

.navbar {
    width: 100%;
}

#mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 30%);

}

.menu-toggle .bar {
    display: block;
    cursor: pointer;
}

.menu-toggle:hover {
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

#main-logo {
    max-width: 40px;
    max-height: 40px;
    transition: all 0.3s ease;
}



/* The Experimental Code section should be empty when webpage is finalized */

/* ************* */
/* Media Queries */
/* ************* */
@media screen and (min-width: 1901px) {
    :root {
        --scroll-distance: var(--scroll-distance-xx-large);
    }

    .gallery figure img {
        width: 250px;
    }

    #backBtn {
        display: none;
    }

    button {
        width: 220px;
    }

    .desc-container {
        margin-top: 20px;
    }

    .exp-container {
        padding-bottom: 35px;
    }

    #nextBtn {
        display: none;
    }

    .about-container {
        padding: 300px 0 0 0;
    }

    #about-content {
        font-size: 24px;
        line-height: 1.5;
        margin-top: -250px;
        padding: 0 50px;
    }

    .about-container h5 {
        margin-left: 475px;
        margin-top: -250px;
    }

    .about-container img {
        width: 250px;
    }

    .contact-container {
        width: 35%;
        margin: 20px auto;
    }

    .exp-container {
        display: flex;
        justify-content: center;
    }

    .gallery {
        width: 1400px;
    }

    #headshot-container {
        position: relative;
        display: inline-block;
    }

    #chat-bubble {
        visibility: hidden;
        background-color: #f2f2f2;
        text-align: center;
        border-radius: 6px;
        padding: 20px 10px 10px;
        position: absolute;
        z-index: 1;
        bottom: 70%;
        left: 125%;
        margin-left: -60px;
        width: 300px;
        height: 100px;
        cursor: pointer;
        animation: pulse 1.5s infinite;
    }

    #chat-bubble p {
        color: black;
        font-size: 18px;
        text-shadow: none;
        text-align: center;
        font-weight: 600;
    }

    #headshot-container:hover #chat-bubble {
        visibility: visible;
    }

    #image-1 {
        width: 320px;
    }

    .intro-container {
        padding-bottom: 100px;
        padding-top: 110px;
    }

    #my-name {
        font-size: 36px;
    }

    #my-photo img {
        width: 300px;
        height: 300px;
    }

    .nav-links:hover {
        object-fit: contain;
    }

    .intro-container p {
        font-size: 20px;
    }

    .overlay {
        width: 92%;
        height: 100%;
    }

    #overlay1 {
        width: 100%;
    }

    #overlay1 p {
        margin-left: -55px;
        padding: 20px;
        font-size: 1.3em;
    }
    
    #overlay2 p,
    #overlay4 p {
        margin-left: -60px;
    }
    
    #overlay3 p {
        margin-left: -53px;
    }

    .overlay-small {
        height: 79%;
    }

    .work-container {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1900px) {
    :root {
        --scroll-distance: var(--scroll-distance-xx-large);
    }

    .gallery figure img {
        width: 250px;
    }

    #backBtn {
        display: none;
    }

    button {
        width: 220px;
    }

    .desc-container {
        margin-top: 20px;
    }

    .exp-container {
        padding-bottom: 35px;
    }

    #nextBtn {
        display: none;
    }

    .about-container {
        padding: 300px 0 0 0;
    }

    #about-content {
        font-size: 24px;
        line-height: 1.5;
        margin-top: -250px;
        padding: 0 50px;
    }

    .about-container h5 {
        margin-left: 475px;
        margin-top: -250px;
    }

    .about-container img {
        width: 250px;
    }

    .contact-container {
        width: 50%;
        margin: 20px auto;
    }

    .exp-container {
        display: flex;
        justify-content: center;
    }

    .gallery {
        width: 1400px;
    }

    #headshot-container {
        position: relative;
        display: inline-block;
    }

    #chat-bubble {
        visibility: hidden;
        background-color: #f2f2f2;
        text-align: center;
        border-radius: 6px;
        padding: 20px 10px 10px;
        position: absolute;
        z-index: 1;
        bottom: 70%;
        left: 125%;
        margin-left: -60px;
        width: 300px;
        height: 100px;
        cursor: pointer;
        animation: pulse 1.5s infinite;
    }

    #chat-bubble p {
        color: black;
        font-size: 18px;
        text-shadow: none;
        text-align: center;
        font-weight: 600;
    }

    #headshot-container:hover #chat-bubble {
        visibility: visible;
    }

    #image-1 {
        width: 320px;
    }

    .intro-container {
        padding-bottom: 100px;
        padding-top: 110px;
    }

    #my-name {
        font-size: 36px;
    }

    #my-photo img {
        width: 300px;
        height: 300px;
    }

    .nav-links:hover {
        object-fit: contain;
    }

    .intro-container p {
        font-size: 20px;
    }

    .overlay {
        width: 92%;
        height: 100%;
    }

    #overlay1 {
        width: 100%;
    }

    #overlay1 p {
        margin-left: -55px;
        padding: 20px;
        font-size: 1.3em;
    }
    
    #overlay2 p,
    #overlay4 p {
        margin-left: -60px;
    }
    
    #overlay3 p {
        margin-left: -53px;
    }

    .overlay-small {
        height: 79%;
    }

    .work-container {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    :root {
        --scroll-distance: var(--scroll-distance-xx-large);
    }

    #headshot-container {
        position: relative;
        display: inline-block;
    }

    #chat-bubble {
        visibility: hidden;
        background-color: #f2f2f2;
        text-align: center;
        border-radius: 6px;
        padding: 20px 10px 10px;
        position: absolute;
        z-index: 1;
        bottom: 70%;
        left: 125%;
        margin-left: -40px;
        width: 200px;
        height: 100px;
        cursor: pointer;
        animation: pulse 1.5s infinite;
    }

    #chat-bubble p {
        color: black;
        font-size: 14px;
        text-shadow: none;
        text-align: center;
        font-weight: 600;
    }

    #headshot-container:hover #chat-bubble {
        visibility: visible;
    }

    .gallery figure img {
        width: 250px;
    }

    #backBtn {
        margin: 0 25px;
    }

    button {
        width: 220px;
    }

    .desc-container {
        margin-top: 20px;
    }

    .exp-container {
        padding-bottom: 35px;
        display: flex;
        justify-content: center;
    }

    #nextBtn {
        margin-left: 50px;
    }

    .about-container {
        padding: 120px 0 0 0;
    }

    #about-content {
        font-size: 20px;
        line-height: 1.5;
        margin-top: -100px;
        padding: 0 50px;
    }

    .about-container h5 {
        margin-left: 290px;
        margin-top: -100px;
    }

    .about-container img {
        width: 175px;
    }

    .contact-container {
        width: 50%;
        margin: 20px auto;
    }

    .gallery {
        grid-gap: 90px;
    }

    .gallery-wrap {
        margin-left: 10px;
    }

    #image-1 {
        width: 320px;
    }

    .intro-container {
        padding-bottom: 20px;
        padding-top: 30px;
    }

    .overlay {
        height: 100%;
    }

    #overlay1 p {
        margin-left: -55px;
        padding: 20px;
        font-size: 1.3em;
    }
    
    #overlay2 p,
    #overlay4 p {
        margin-left: -60px;
    }
    
    #overlay3 p {
        margin-left: -53px;
    }

    .overlay-small {
        height: 79%;
    }

    .work-container {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
    :root {
        --scroll-distance: var(--scroll-distance-xx-large);
    }

    #chat-bubble {
        visibility: hidden;
        position: absolute;
    }

    .gallery figure img {
        width: 250px;
    }

    #backBtn {
        margin: 0 25px;
    }

    .desc-container {
        margin-top: 20px;
    }

    .exp-container {
        padding-bottom: 35px;
    }

    #nextBtn {
        margin-left: 50px;
    }

    .about-container {
        padding: 120px 0 0 0;
    }

    #about-content {
        font-size: 20px;
        line-height: 1.5;
        margin-top: -100px;
        padding: 0 50px;
    }

    .about-container h5 {
        margin-left: 230px;
        margin-top: -100px;
    }

    .about-container img {
        width: 175px;
    }

    .gallery {
        grid-gap: 90px;
    }

    .gallery-wrap {
        margin-left: 10px;
    }

    #image-1 {
        width: 320px;
    }

    .overlay {
        height: 100%;
    }

    #overlay1 p {
        margin-left: -55px;
        padding: 20px;
        font-size: 1.3em;
    }
    
    #overlay2 p {
        margin-left: -60px;
    }
    
    #overlay3 p {
        margin-left: -53px;
    }

    #overlay4 p {
        margin-left: -58px;
    }

    .overlay-small {
        height: 79%;
    }

    .work-container {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 713px) and (max-width: 900px) {
    :root {
        --scroll-distance: var(--scroll-distance-x-large);
    }

    .about-container {
        padding: 120px 0 0 0;
    }

    #about-content {
        font-size: 16px;
        line-height: 1.5;
        margin-top: -100px;
        padding: 0 20px;
    }

    .about-container h5 {
        margin-left: 160px;
        margin-top: -100px;
    }

    .about-container img {
        width: 175px;
    }

    #chat-bubble {
        visibility: hidden;
        position: absolute;
    }
    
    .gallery {
        grid-gap: 100px;
    }
    
    .gallery figure img {
        width: 500px;
    }

    .image-container {
        margin: 0 6.5%;
    }

    #overlay1 p,
    #overlay2 p,
    #overlay3 p,
    #overlay4 p {
        padding: 30px;
        font-size: 1.5em;
    }

    #overlay1 p {
        margin-left: -106px;
    }
    
    #overlay2 p,
    #overlay4 p {
        margin-left: -120px;
    }
    
    #overlay3 p {
        margin-left: -111px;
    }

    .work-container {
        padding-bottom: 5%;
    }
}

@media screen and (min-width: 501px) and (max-width: 712px) {
    :root {
        --scroll-distance: var(--scroll-distance-large);
    }
    
    #chat-bubble {
        visibility: hidden;
        position: absolute;
    }

    .gallery {
        grid-gap: 100px;
    }
    
    .gallery figure img {
        width: 300px;
    }

    .image-container {
        margin: 0 10%;
    }

    #overlay1 p {
        margin-left: -69px;
    }
    
    #overlay2 p {
        margin-left: -80px;
    }
    
    #overlay3 p {
        margin-left: -73px;
    }

    #overlay4 p {
        margin-left: -78px;
    }
    
}

@media screen and (min-width: 374px) and (max-width: 500px) {
    :root {
        --scroll-distance: var(--scroll-distance-medium);
    }
    
    #chat-bubble {
        visibility: hidden;
        position: absolute;
    }

    .gallery {
        grid-gap: 80px;
    }

    .image-container {
        margin: 0 10%;
    }

    #overlay1 p {
        margin-left: -30px;
    }
    
    #overlay2 p {
        margin-left: -41px;
    }
    
    #overlay3 p {
        margin-left: -33px;
    }

    #overlay4 p {
        margin-left: -38px;
    }
}

/* ********************* */
/*       Keyframes       */
/* ********************* */

@keyframes pulse {
    0%, 100% {
    box-shadow: 0 0 5px 10px rgb(175, 0, 175);
    }
    50% {
    box-shadow: 0 0 10px rgb(175, 0, 175);
    }
   }